/* Variables */

:root {
    --color-blue: #2196F3;
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #212121;
    --color-gray: #757575;
    --color-dark-gray: #2F303A;
    --color-white-gray: #F5F4FA;
}

/* Resetting Styles */
/* Не работает с тегом body */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--color-black);
    margin: 0;
    padding: 0;
}

/* Header */

/* .header {

} */

.logo-link,
.logo-link span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 31px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-link {
    color: var(--color-black);
}

.logo-link span {
    color: var(--color-blue);
}

/* .nav {
    
} */

.navigation {
    list-style: none;
}

.nav-link {
    color: var(--color-dark);
}

.nav-link,
.contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--color-blue);
}

.current {
    color: var(--color-blue);
}

.contacts {
    list-style: none;
}

.contact-link {
    color: var(--color-gray);
}

/* ---------------------------------------- INDEX.HTML------------------------------------ */

/* Section Banner */

.banner {
    background-color: var(--color-dark-gray);
}

.heading-banner {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
}

.banner-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--color-white-gray);
    color: var(--color-dark);
}

.banner-btn:hover,
.banner-btn:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* Section About Company */

/* .about-company {

} */

.about-company h2 {
    display: none;
}

.description {
    list-style: none;
}

.headings-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-dark);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}

/* Section Our Work */

/* .our-work {
    
} */

.headings-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.pictures {
    list-style: none;
}

/* Section Team */

/* .team {

} */

.description-team {
    list-style: none;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}

/* ---------------------------------------- PORTFOLIO.HTML------------------------------------ */

/* Section Products */

/* .products {

} */

.products h1 {
    display: none;
}

/* .tabs {

} */

.tabs-items {
    list-style: none;
}

.btn-tabs {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--color-white-gray);
    color: var(--color-dark);
}

.btn-tabs:hover,
.btn-tabs:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.product-item {
    list-style: none;
}

.headings-product {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.text-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}

/* Footer */

.footer {
    background-color: var(--color-dark-gray);
}

.logo-link2,
.logo-link2 span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-link2 {
    color: var(--color-white);
}

.logo-link2 span {
    color: var(--color-blue);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-white);
}
